package main

templ Chat(messages []*Message) {
	@JsonPage("REST Mchat") {
		<div>
			@ChatFeed(messages)
			@MessageBox()
		</div>
	}
}

templ WsChat(messages []*Message) {
	@WsPage("WebSocket Mchat") {
		<div hx-ext="ws" ws-connect="/chatroom">
			@ChatFeed(messages)
			@WsMessageBox()
		</div>
	}
}
