package main

templ ChatFeed(messages []*Message) {
	<div id="feed" class="w-full grid gap-3 overflow-auto border rounded-md p-4" style="height:350px; overflow:scroll">
		for _, msg := range messages {
			@ChatMessage(msg)
		}
	</div>
}
